{% extends 'entry/base.html' %}

{% block title %}
    <title>What have you been up to?</title>
    <script type="text/javascript">
         function changeColor(obj) {
            if (obj.style.color === 'orange') {
                obj.style.color = 'white'
            } else {
                obj.style.color = 'orange'
            }
        }
    </script>
{% endblock %}

{% block body %}
    <h1 class="display-4 text-center">What have you been up to?</h1>
    <form method="post" action="{% url 'activities' %}">
    {% csrf_token %}
    <div class="section shadow p-3 mb-3 bg-dark rounded">
        <h5>Social</h5>
        <div class="inside">
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#129730</span>
                <br>family<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#128101</span>
                <br>friends<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#9829</span>
                <br>date<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#127881</span>
                <br>party<br></p>
            {{ form.social }}
        </div>
    </div>

    <div class="section shadow p-3 mb-3 bg-dark rounded">
        <h5>Hobbies</h5>
        <div class="inside">
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#128214</span>
                <br>reading<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#127918;</span>
                <br>gaming<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#9917</span>
                <br>sport<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#127928;</span>
                <br>practice<br></p>
            {{ form.hobbies }}
        </div>
    </div>

    <div class="section shadow p-3 mb-3 bg-dark rounded">
        <h5>Food</h5>
        <div class="inside">
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#129365</span>
                <br>healthy<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#127839</span>
                <br>fast food<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#127860</span>
                <br>restaurant<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#129473</span>
                <br>sweets<br></p>
            {{ form.food }}
        </div>
    </div>

    <div class="section shadow p-3 mb-3 bg-dark rounded">
        <h5>Health</h5>
        <div class="inside">
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#127939</span>
                <br>exercise<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#128688</span>
                <br>drink water<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#128694</span>
                <br>walk<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#129496</span>
                <br>yoga<br></p>
            {{ form.health }}
        </div>
    </div>

    <div class="section shadow p-3 mb-3 bg-dark rounded">
        <h5>Chores</h5>
        <div class="inside">
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#128717</span>
                <br>shopping<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#129529</span>
                <br>cleaning<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#127858</span>
                <br>cooking<br></p>
            <p onmouseover="changeColor(this)" onmouseout="changeColor(this)"><span id="activities">&#128090;</span>
                <br>laundry<br></p>
            {{ form.chores }}
        </div>
    </div>

        <button class="btn btn-dark" type="submit" style="float: right ">Continue</button>
    </form>
{% endblock %}