#emoji {
    display: flex;
    justify-content: center;
}

#emoji1, #emoji2, #emoji3 {
    padding-left: 50px;
    padding-right: 50px;
}

.asteriskField {
    display: none;
}

form > .alert > ul > li {
    list-style: none;
}

body{
    padding-top: 50px;
    background-color: #c5b6b6;
}

#header{
    background-color: #20988a;
}

.journal-entry{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: #180206 solid 1px;
    overflow-wrap: break-word;

}
